<h2>Login</h2>
<p-panel>
    <p-header>
        Insert user/password
    </p-header>
    <div style="align-content: center;">
        <br>
        <table>
            <tr>
                <td>
                    <span class="ui-float-label">
                        <input id="float-input" type="text" pInputText [(ngModel)]="login.userName" />
                        <label for="float-input">Username</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <span class="ui-float-label">
                        <input id="float-password" type="password" pPassword [(ngModel)]="login.password"
                            [feedback]="false"/>
                        <label for="float-password">Password</label>
                    </span>
                    <p style="color:red" *ngIf="loginError">Something went wrong. Try again.</p>
                </td>
            </tr>
            <br>
            <button pButton type="button" label="Clear" class="ui-button-rounded ui-button-danger"
                (click)="clear()"></button>
            <button pButton type="button" label="Login" class="ui-button-rounded ui-button-success"
                (click)="doLogin()"></button>
        </table>
    </div>
</p-panel>