<h2>Actors</h2>

<!--<div class="splash-screen" style="width:100%;position:fixed">-->
  <p-table [columns]="cols" [value]="actors$ | async" [lazy]="true" selectionMode="single" [paginator]="true" rows="10">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          Loading records ..
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton type="button" label="Create Actor" class="ui-button-rounded ui-button-success"
          (click)="createActor()"></button>
<!--</div>-->
