.splash-screen {
  background-color: #607D8B;
  height: 100%;
}

.splash-container {
  padding-top: 250px;
  width: 250px;
  margin: 0 auto;
  text-align: center
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 60px;
  background: url("../images/Loading_2.gif") top left no-repeat;
  background-size: 200px 60px;
  padding-bottom: 20px;
}

.load-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.bar:nth-child(1) {
  background-color: #558B2F;
  animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
  background-color: #8BC34A;
  animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
  background-color: #C5E1A5;
  animation: loading 3s linear 2s infinite;
}

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

