<h2>Actor</h2>
<p-panel>
  <div style="align-content: center;">
    <br>
    <table>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="actorId" type="text" pInputText [(ngModel)]="actor.actorId" disabled/>
              <label for="actorId">First Name</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="firstName" type="text" pInputText [(ngModel)]="actor.firstName"/>
              <label for="firstName">First Name</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="lastName" type="text" pInputText [(ngModel)]="actor.lastName"/>
              <label for="lastName">Last Name</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="age" type="text" pInputText [(ngModel)]="actor.age"/>
              <label for="age">Age</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="email" type="text" pInputText [(ngModel)]="actor.email"/>
              <label for="email">Email</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="earned" type="text" pInputText [(ngModel)]="actor.earned"/>
              <label for="earned">Earned</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="currency" type="text" pInputText [(ngModel)]="actor.currency"/>
              <label for="currency">Currency</label>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ui-float-label">
              <input id="phone" type="text" pInputText [(ngModel)]="actor.phone"/>
              <label for="phone">Phone</label>
          </span>
        </td>
      </tr>
      <br>
      <button pButton type="button" label="Save" class="ui-button-rounded ui-button-success"
              (click)="alert('click')"></button>
    </table>
  </div>
</p-panel>
